/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Archivo', sans-serif;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 6rem;
}

h1 {
  color: #ffaf1c;
  text-align: center;
}

.wrap-box {
  width: 250px;
  height: 250px;
  margin: 120px auto;
  -webkit-perspective: 400;
          perspective: 400;
  position: relative;
}

.cube-3d {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.side {
  border: 2px solid #2db34a;
  height: 196px;
  position: absolute;
  width: 196px;
  text-align: center;
}

h2 {
  margin-top: 50%;
  color: #fff;
}

.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  background-color: rgba(241, 95, 95, 0.507);
}

.back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
          transform: rotateX(180deg) translateZ(100px);
  background-color: rgba(177, 212, 78, 0.589);
}

.left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
  background-color: rgba(243, 152, 73, 0.637);
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
  background-color: rgba(47, 186, 241, 0.555);
}

.top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
  background-color: rgba(255, 99, 71, 0.664);
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
  background-color: yellowgreen;
}

.cube-3d:hover {
  -webkit-animation: cubeRotation 5s infinite;
          animation: cubeRotation 5s infinite;
}

@-webkit-keyframes cubeRotation {
  0% {
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
            transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateX(278deg) rotateY(31deg) rotateZ(143deg);
            transform: rotateX(278deg) rotateY(31deg) rotateZ(143deg);
  }
  100% {
    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
            transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
  }
}

@keyframes cubeRotation {
  0% {
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
            transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateX(278deg) rotateY(31deg) rotateZ(143deg);
            transform: rotateX(278deg) rotateY(31deg) rotateZ(143deg);
  }
  100% {
    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
            transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
  }
}
/*# sourceMappingURL=style.css.map */